:host * {
  transition: all 300ms ease-in-out;
}

.sidenav-header {
  padding-top: 20px;
  text-align: center;

  > img {
    border-radius: 100%;
    object-fit: cover;
    margin-bottom: 10px;
  }

  .header-text {
    height: 4rem;

    > h2 {
      margin: 0;
      font-size: 1em;
      line-height: 1.5rem;
    }

    > p {
      margin: 0;
      font-size: 0.8em;
    }
  }
}

.hide-header-text {
  opacity: 0;
  height: 0 !important;
}

