mat-toolbar {
  position: relative;
  z-index: 5;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  > img {
    padding-left: 20px;
    height: 45px;
    width: 120px;
  }
}

mat-sidenav-container {
  height: calc(100vh - 65px);
}

.content {
  padding: 25px;
}

mat-sidenav,
mat-sidenav-content {
  transition: all 300ms ease-in-out;
}

mat-sidenav {
  background-color: #fff;
  box-shadow: 2px 0 4px rgba(0, 0, 0, 0.1);
}
